<h2>投稿</h2>
<%= form_with model: @sweet, local: true do |form| %>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">
      <%= form.label :名前 %><br>
      <%= form.text_field :name %>
    </label>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">
      <%= form.label :説明 %><br>
      <%= form.text_field :description %>
    </label>
  </div>
  <%= form.submit :送信 %>
</form>
<% end %>